<div class="group_form">
<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <% current_user.friends.each do |friend| %>
    <div class="group_member">
      <input type="checkbox" name="member[]" value="<%= friend.id %>" id="<%= friend.id %>" 
      <% unless @group.friends.empty? %>
        <% if @group.friends.include?(friend) %>
        checked
        <% end %> 
      <% end %> 
      />
        <label for="<%= friend.id %>"><%= friend.first_name %> <%= friend.last_name %></label>
        <% unless friend.categories.empty? %>
          <% friend.categories.each do |category| %>
            <em><%= category.short_name %></em>
          <% end %>
        <% end %>
        <br/><br/>
    </div>
  <% end %>

  <input type="hidden" />

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>