<div class="group_form">
<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field group_name">
    <%= f.label :name, 'Group name' %>
    <%= f.text_field :name %>
  </div>

  <% current_user.friends.each do |friend| %>
    <% @group.friends.include?(friend) ? member_status=true : member_status=false %>

    <div class="group_member <% if member_status %>picked<% end %>">
      <input type="checkbox" name="member[]" value="<%= friend.id %>" id="<%= friend.id %>" 
      <% unless @group.friends.empty? %>
        <% if member_status %>checked<% end %> 
      <% end %> 
      />
        <label for="<%= friend.id %>"><%= friend.first_name %> <%= friend.last_name %></label>
        <% unless friend.categories.empty? %>
          <div class="group_cuisines">
            <% friend.categories.map do |category| %>
              <%= category.short_name %>
            <% end %>
          </div>
        <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>