<div class="group_form">
<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field new_group_name">
    <%= f.label :name %>
    <% if params[:action] == 'new' %>
      <%= f.text_field :name, :value => prepopulated_group_name, size: 40 %>
    <% else %>
      <%= f.text_field :name %>
    <% end %>
  </div>

  <% current_user.friends.each do |friend| %>
    <% @group.friends.include?(friend) ? member_status=true : member_status=false %>
    <div class="group_member">

      <input type="checkbox" name="member[]" value="<%= friend.id %>" id="<%= friend.id %>" 
      <% unless @group.friends.empty? %><% if member_status %>checked<% end %><% end %> 
      />
        
      <label for="<%= friend.id %>">

        <img src='<%= friend.photo %>' width='28' height='28' title='<%= friend.first_name %> <%= friend.last_name %>' />
        
        <div class="member_name"><%= friend.first_name %> <%= friend.last_name %></div>
        <div class="clearfix"></div>

        <% unless friend.categories.empty? %>
          <div class="member_categories">
            Enjoys: 
            <% friend.categories.map do |category| %>
              <%= category.short_name %>
            <% end %>
          </div>
        <% end %>

      </label>
      <div class="clearfix"></div>

    </div>
  <% end %>

  <%= f.submit :class => "btn new" %>

<% end %>
</div>