<div id="group_wrap">
<% if @groups %>

  <h1>Food Groups</h1>
  <ul id="display_groups">
  <% @groups.each do |group| %>
    
    <li>
      <%= link_to group.name, edit_group_path(group), class: 'group_name' %>

      <% unless group.members.empty? %>
        <% groups_members = [] %>
        <% foods_categories = [] %>
        <br/>
        <% group.members.each do |member| %>
          <% if member.respond_to?(:photo_prefix) %>
            <img src='<%= member.photo_prefix %>' width='40' height='40' alt="<%= member.first_name %> <%= member.last_name %>" />
          <% end %>
          <% groups_members << member.first_name %>
          <% foods_categories.concat( member.categories.map { |category| category.short_name } ) %>
        <% end %>
        <br/>
        <span class="group_cuisines"><%= foods_categories.uniq.to_sentence %></span>
      <% end %>
    </li>

  <% end %>
  </ul>

<% end %>

<%= link_to 'Create a new group', new_group_path %>

</div>