<div id="group_wrap">
<% if @groups %>

  <h1>Food Groups</h1>
  <ul id="display_groups">
  <% @groups.each do |group| %>
    
    <li>
      <%= link_to group.name, edit_group_path(group), class: 'group_name' %>

      <% unless group.members.empty? %>
        <div id="search_nearby">
          <%= link_to 'Find us food nearby', group, class: 'explore_nearby' %>
        </div>
        <% group.members.each do |member| %>
          <% if member.respond_to?(:photo_prefix) %>
            <img src='<%= member.photo_prefix %>' width='40' height='40' alt="<%= member.first_name %> <%= member.last_name %>" />
          <% end %>
        <% end %>
        <br/>
        <span class="group_cuisines"><%= display_top_categories(group) %></span>
      <% end %>
    </li>

  <% end %>
  </ul>

<% end %>

<%= link_to 'Create a new group', new_group_path %>

</div>