<p id="notice"><%= notice %></p>

<p>
  <h3><%= @group.name %></h3>
</p>

<% @foursquare_results.each do |venue| %>
  <div>
    <%= venue.name %>
  </div>
<% end %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Delete Group', @group, method: :delete %>
<br/>
<%= link_to 'Back', groups_path %>