<p id="notice"><%= notice %></p>

<p>
  <h3><%= @group.name %></h3>
</p>

<% unless @group.friends.empty? %>
  <h4>Members</h4>

  <% @group.friends.each do |friend| %>
    <%= friend.first_name %> <%= friend.last_name %><br/>
  <% end %>
  
  <br/>  
<% end %>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Delete Group', @group, method: :delete %>
<br/>
<%= link_to 'Back', groups_path %>