<!DOCTYPE html>
<html>
<head>
  <title>Food With Us</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<% if current_user %>
  <body class="groups-wrap">

  <div id="page-wrap">

    <header class="clearfix">
      <%= link_to 'Food With Us', root_path, class: "logo" %> 
      <nav><span id="user_name"><%= current_user.first_name %></span> <%= link_to "Logout", logout_path %></nav>
    </header>

    <div id="content-wrap">
      <%= yield %>
    </div>

<% else %>

  <%= render 'layouts/welcome' %>  

<% end %>
  <footer>
    2013 &middot; by <%= link_to '@rexfeng', 'http://twitter.com/rexfeng' %> &middot; <%= link_to 'Github source', 'http://github.com/xta/foodwithus' %>
  </footer>
</div>

<%# render 'layouts/dev_info' %>
<%= render 'layouts/analytics' %>
</body>
</html>
